<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--解析xml时按照顺序对bean进行读取-->


    <!--java类之间存在继承关系的时候才能使用parent-->
    <!--BeanFactory不会进行预实例化，ApplicationContext才会在DefaultListableBeanFactory
    的preInstantiateSingletons中根据lazy-init进行预实例化-->
    <!--<bean id="foo" name="hhh" class="com.xxy.ioc.Foo" parent="parentOfFoo" lazy-init="true">-->
    <bean id="foo" name="hhh" class="com.xxy.ioc.Foo" >
        <property name="age" value="20"/>
    </bean>


    <context:component-scan
                base-package="com.xxy.ioc"/>
</beans>