<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testBeanPostProcessor" class="com.xxy.BeanProcessor.TestBeanPostProcessor"></bean>
    <bean id="testBeanFactoryPostProcessor" class="com.xxy.BeanProcessor.TestBeanFactoryPostProcessor"></bean>
    <bean id="testBean" class="com.xxy.BeanProcessor.TestBean">
        <property name="name" value="丑星星"></property>
        <property name="age" value="18"></property>
    </bean>
</beans>